openapi: 3.0.0
info:
  title: AnrescoMobile
  version: 1.0.0
servers:
  - url: https://anresco-portal-dev2.qbench.net
  - url: http://localhost:9000
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /api/contacts/user:
    post:
      tags:
        - Mobile APIs
      summary: Create_new_contact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                authorities:
                  - ROLE_ADMIN
                email: jigar.prajapat@technostacks.in
                first_name: jigar2
                last_name: prajapati
                login: jigar4
                password: jigar@123
                phone: '8200717350'
                receive_coa: true
                receive_invoice: false
                title: anresco api test3
      security:
        - bearerAuth: []
      parameters:
        - name: customer-id
          in: header
          schema:
            type: integer
          example: '4262'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/samples/filter:
    get:
      tags:
        - Mobile APIs
      summary: Samples_filter
      security:
        - bearerAuth: []
      parameters:
        - name: size
          in: query
          schema:
            type: integer
          example: '15'
        - name: sort
          in: query
          schema:
            type: string
          example: id,desc
        - name: category
          in: query
          schema:
            type: string
          example: '{"id": 5, "name": "Other"}'
        - name: page
          in: query
          schema:
            type: integer
          example: '0'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api /invoices/:
    get:
      tags:
        - Mobile APIs
      summary: Invoice_by_id
      security:
        - bearerAuth: []
      parameters:
        - name: invoice_id
          in: header
          schema:
            type: integer
          example: '8'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/samples/mobile-lot:
    get:
      tags:
        - Mobile APIs
      summary: Mobile_lot
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/samples/mobile-category:
    get:
      tags:
        - Mobile APIs
      summary: Mobile_category
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}